<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.PageTitle</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta name="keywords" content="@ViewBag.Keywords" />
</head>
<body>
    <h1>nasa.gov spacecats</h1>

    @RenderBody()
    
</body>
</html>
