
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Stuff</title>
</head>
<body>
    <h1>Hello World - Stuff!</h1>

    <p>The current date and time is: @DateTime.Now</p>

</body>
</html>
